@charset "utf-8";

html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    line-height: 1.5em;
}

body{
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(cave-background.jpg);
}

header {
    background-color: #3f3622;
    font-family: "Arial", sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

h1{
    padding: 0.2em;
}

nav {
    text-align: right;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 0.3em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    }

a.class1:link{
    color:white;
}
a.class1:visited{
    color: gray;
}
a.class1:hover{
    color: purple;
}

article{
    background-color: white;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    line-height: 1em;
}


#area{
    padding: 1em;
}

#senses{
    padding-bottom: 1em;
}


#remaining{
    padding: 0.5em;
}

div.picture{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

div.picture img{
    border: solid 1pt black;
    padding: 0.5em;
}

div.room {
    width: 200px;
    display: inline-block;
    font-size: 0.7em;
    padding-top:1em;
    padding-bottom: 1em;
}


a.link2:link{
    color: #3f3622;
}
a.link2:visited{
    color: #3f3622;
}
a.link2:hover{
    color: #3f3622;
}

div.cat{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

div.cat img{
    border: solid 1pt black;
    padding: 0.5em;
}

div.links{
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding-bottom:1em;
}
div.links p{
    padding: 0.5em;
    font-size:1em;
}

h2{
    font-weight: normal;
    display:inline;
    font-size:0.9em;
}
h3{
    font-style: italic;
    display:inline;
    font-weight:normal;
    font-size: 1.2em;
}
h4{
    font-family: "Times New Roman", serif;
    font-size: 0.65em;
    padding-bottom:1.5em;
    margin: 0 1em 0 1em;
    text-align: justify;
    font-weight: normal;
}
